html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2C3947;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.topnav {
    margin-bottom: 1rem;
}

.topnav a {
    display: block;
    background-color: #1e2a35;
    color: #E8EDF2;
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}

.topnav a:hover {
    background-color: #E8EDF2;
    color: #2C3947;
    transform: scale(1.03);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 2rem;
    width: fit-content;
}

h1, label {
    color: #E8EDF2;
}

textarea {
    resize: none;
}

.nombre, .apellidos, .subject {
    border: 1px solid #ccc; /* Un borde gris suave */
    border-radius: 6px;      /* Bordes redondeados */
    padding: 10px;          /* Espacio interno para que el texto no pegue al borde */
    font-size: 16px;
    outline: none;          /* Quita el borde azul feo al hacer clic */
}